AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=your_access_key_id
AWS_SECRET_ACCESS_KEY=your_secret_access_key
AWS_BUCKET=s3://your-bucket/path

DB_HOST=host.docker.internal
DB_PORT=3306
DB_USER=your_db_user
DB_PASSWORD=your_db_password
